!!! XHTML
%html
  %head
    %title= @title
    %link{:rel => 'stylesheet', :href => "#{app_root}/css/main.css", :type => 'text/css'}
    :javascript
      var app_root = "#{app_root}";
    %script{:type => 'text/javascript', :src => "#{app_root}/js/jquery.js"}
    %script{:type => 'text/javascript', :src => "#{app_root}/js/video.js"}
  %body
    %div#content
      %div#head
        %p
          %a{:href => app_root}= @title
        %h1= @video.title
      %div#main
        %video{:controls => 'controls', :width => 800, :height => 450}
          %source{:src => "#{app_root}/v/#{@video.id}.mp4"}
        %div#ctrls
          %span.btn#fullscreen [fullscreen]
