!!! XHTML
%html
  %head
    %title= @title
    %link{:rel => 'stylesheet', :href => "#{app_root}/css/main.css", :type => 'text/css'}
    %link{:rel => 'stylesheet', :href => "#{app_root}/css/index.css", :type => 'text/css'}
    :javascript
      var app_root = "#{app_root}";
    %script{:type => 'text/javascript', :src => "#{app_root}/js/jquery.js"}
    %script{:type => 'text/javascript', :src => "#{app_root}/js/util.js"}
    %script{:type => 'text/javascript', :src => "#{app_root}/js/index.js"}
  %body
    %div#content
      %div#head
        %a{:href => app_root}
          %h1= @title
        - if @tag.to_s.size > 0
          tag : #{escape_html @tag}
        %div#video_count
          #{@video_count} videos
      %div#main
        %ul.videos
        - for v in @videos
          %li
            %a{:href => "#{app_root}/v/#{v.id}"}
              - if v.thumb_gif
                %img{:src => "#{app_root}/#{@@conf['thumb_dir']}/#{v.thumb_gif}"}
              #{v.title}
            %ul
              - if v.tags
                %li.tags
                  tag : 
                  - for tag in v.tags
                    %a{:href => "#{app_root}/tag/#{tag}", :class => 'tag'}
                      [#{escape_html tag}]
              - if v.exif
                %li.filetype
                  type : #{v.exif['MIMEType']}
                %li.filesize
                  size : #{v.exif['FileSize']}
                %li.duration
                  duration : #{v.exif['Duration']}
                %li.imagesize
                  image size : #{v.exif['ImageSize']}
              %li.controls
                %input{:type => 'button', :class => 'btn_delete', :value => 'delete', :id => v.id.to_s}
      %div#foot
        %div#page_nav
          - if @page > 1
            - unless @tag
              - prev_page = "#{app_root}/?page=#{@page-1}&per_page=#{@per_page}"
            - else
              - prev_page = "#{app_root}/tag/#{@tag}?page=#{@page-1}&per_page=#{@per_page}"
            %a{:href => prev_page}
              page #{@page-1}
          - if @video_count > @per_page*@page
            - unless @tag
              - next_page = "#{app_root}/?page=#{@page+1}&per_page=#{@per_page}"
            - else
              - next_page = "#{app_root}/tag/#{@tag}?page=#{@page+1}&per_page=#{@per_page}"
            %a{:href => next_page}
              page #{@page+1}


