!!! XHTML
%html
  %head
    %title= "#{@video.title} - #{@title}"
    %link{:rel => 'stylesheet', :href => "#{app_root}/css/main.css", :type => 'text/css'}
    :javascript
      var app_root = "#{app_root}";
      var video_id = "#{@video.id}"
    %script{:type => 'text/javascript', :src => "#{app_root}/js/jquery.js"}
    %script{:type => 'text/javascript', :src => "#{app_root}/js/util.js"}
    %script{:type => 'text/javascript', :src => "#{app_root}/js/video.js"}
  %body
    %div#content
      %div#head
        %p
          %a{:href => app_root}= @title
        %h1= @video.title
      %div#main
        - @speed = 1.0
        %video{:controls => 'controls', :width => 800, :height => 450, :playbackRate => @speed}
          %source{:src => "#{app_root}/v/#{@video.id}.mp4"}
        %div#ctrls
          %input{:type => 'button', :class => 'btn', :id => 'btn_fullscreen', :value => 'fullscreen'}

          %input{:type => 'range', :id => 'speed', :min => 5, :max => 30, :value => @speed*10}
          %input{:type => 'text', :id => 'speed_val', :disabled => 'disabled', :size => 5, :value => "#{@speed}倍速"}
          %input{:type => 'button', :class => 'btn', :id => 'btn_delete', :value => 'delete'}
